.ellipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -o-text-overflow: ellipsis !important;
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis') !important;
}

.ui-widget-content, .span6, hr {
    width: 99% !important;
}

.ui-grid{ width:100% !important; }

.tab-content > .tab-pane {
    padding: 15px !important;
}