.ellipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -o-text-overflow: ellipsis !important;
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis') !important;
}

hr {
    width: 99% !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    width: auto !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    background-image: url("images/ui-icons_ef8c08_256x240.png");
    background-position: -96px -128px;
}