.ellipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -o-text-overflow: ellipsis !important;
    -moz-binding: url('assets/xml/ellipsis.xml#ellipsis') !important;
}

hr {
    width: 99% !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    width: auto !important;
}